img{
  border-radius: 6px;
  max-width:120px;
  max-height:180px;
}

ion-card-title{
  font-size: 23px;
}

.card {
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}

.circle  {
    font-size: 30px; /* Tamanho do ícone */
    float: right;
}

.vazio{
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ion-icon{
    font-size: 125px;
    margin-bottom: 10px;
  }

  h2{
    text-align: center;
    font-size: 23px;
    width: 85%;
  }
}